* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    padding: 30px 10px;
    background-color: rgb(34, 204, 204); 
    top: 0;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: gray;
    background-size: cover;
    background-position: auto;
    background-attachment: fixed;
}
    header h1 {
        display: flex;
        font-weight: bold;
        font-size: 36px;
        color:blueviolet;
        background-color: blue;
        justify-content: left;
        border-radius: 5%;
        margin: 15px 0 0 0;

        padding: 5px;
        align-items: center;
}
    header a {
        text-decoration: none;
        color: bisque;
    }
    header nav{
        margin: 7px 0;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    header nav ul a{
        padding: 10px 15px;
        font-size: 2vw;
        text-shadow: 0 0 1px rgba(0,0,0,.5);
        text-decoration-line: underline;
    }
header nav ul li a:hover {
    background-color: brown;
    border-radius: 15px;
}
.headers {
    color: black;
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
    padding: 7px 10px 15px 0;
    background-color: gray;
}
.Sides {
    color:rgb(11, 8, 187)
}